{% extends "base.html" %}

{% block content %}
<body>
<main>
    <h1 class="visually-hidden">Delivery-am</h1>

    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/dashboard"
               class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <img src="{{ url_for('static', path='/img/simple_logo.png') }}" alt="" width="32" height="32">
                <span class="fs-4" style="margin-left: 20px;">Delivery-am</span>
            </a>

            <ul class="nav nav-pills">
                <li class="nav-item"><a href="#" class="nav-link">Рассылки</a></li>
                <li class="nav-item"><a href="#" class="nav-link">link2</a></li>
                <li class="nav-item"><a href="#" class="nav-link">link3</a></li>
                <li class="nav-item"><a href="#" class="nav-link">link4</a></li>
                <li class="nav-item"><a href="/" class="nav-link">Выйти</a></li>
            </ul>
        </header>
    </div>
    <div class="container">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/dashboard">Главная</a></li>
                <li class="breadcrumb-item"><a href="/mails">Рассылки</a></li>
                <li class="breadcrumb-item active" aria-current="page">Рассылка простых текстовых писем</li>
            </ol>
        </nav>
        {% block asd%}
        <form action="/mails/simple_mail_sending/create" method="post">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" id="email" name="email"
                       placeholder="name1@example.com, name2@example.com" required>
            </div>
            <div hidden class="mb-3">
                <label for="parent" class="form-label">Родитель</label>
                <input type="text" class="form-control" id="parent" name="parent" value="NULL">
            </div>
            <div class="mb-3">
                <label for="subj" class="form-label">Тема</label>
                <input type="text" class="form-control" id="subj" name="subj" placeholder="Тема" required>
            </div>
            <div class="mb-3">
                <label for="msg" class="form-label">Текст сообщения</label>
                <textarea class="form-control" id="msg" name="msg" rows="3"
                          placeholder="Введите текст сообщения" required></textarea>
                <!--  <input type="password" class="form-control" id="password" name="password" placeholder="Password">-->
                <!--      <label for="password">password</label>-->
            </div>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Отправить</button>
        </form>


        {% endblock %}
    </div>
</main>
</body>
{% endblock %}