{% extends "base.html" %}

<div>
    <h2>Mapped data</h2>
    <table id="Mapped table" border="1">
        <tr>
            {% for col in column_names %}
            <th>{{col}}</th>
            {% endfor %}
        </tr>
        {% for row in rows %}
        <tr>
            {% for key, val in row.items() %}
            {% if key == link_column %}
            <td>
                <select class="dropbtn">
                    {% for choice in choices %}
                    <option value={{ choice[0] }}
                            {% if choice[0]== val %} selected {% endif %}>
                        {{ choice[1] }}
                    </option>
                    {% endfor %}
                </select>
            </td>
            {% else %}
            <td>
                {{ val }}
            </td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>